@charset "UTF-8";

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas: 
   "areaA areaB areaC"
   "areaD areaE areaF"
   "areaG areaH areaI"
}
.post.no-1 {
  /* grid-column: 2/3;
  grid-row: 1/2; */
  grid-area: areaA;
  background-color: #333;
}
.post.no-2 {
  /* grid-column: 2/3;
  grid-row: 2/3; */
  grid-area: areaB;
  background-color: #999;
}
.post.no-3 {
  /* grid-column: 1/2;
  grid-row: 2/3; */
  grid-area: areaC;
  background-color: #e71864;
}
.post.no-4 {
  /* grid-column: 1/2;
  grid-row: 2/3; */
  grid-area: areaD;
  background-color: #a9cd27;
}
.post.no-5 {
  /* grid-column: 1/2;
  grid-row: 2/3; */
  grid-area: areaE;
  background-color: #951fde;
}
.post.no-6 {
  /* grid-column: 1/2;
  grid-row: 2/3; */
  grid-area: areaF;
  background-color: #332b58;
}